{% extends 'base.html.twig' %}

{% block content %}
    <h2>Home page template</h2>
    <a href="{{ youtubeChannel }}">Check our Youtube Channel</a>    

    <div style="margin:2em 0">
        <a href="/posts/create">+ ADD NEW POST</a>
    </div>
{% endblock %}
